<!-- Home page -->
{% extends "layout.html" %}

{% block content %}
<!-- Image -->
<section class="hero ">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <figure class="image is-16by9">
                        <img src="{{ url_for('static', filename='images/first-post.png')}}" alt="">
                    </figure>
                </div>
            </div>

            <section class="section">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="content is-medium">
                            <h2 class="subtitle is-4">December 25, 2018</h2>
                            <h1 class="title">Getting Started</h1>
                            <p>This is a starter template for creating a beautiful, customizable blog with minimal
                                effort. You’ll only have to change a few settings and you’re ready to go. As with
                                all Jigsaw sites,
                                configuration settings can be found in config</p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="is-divider"></div>

            <section class="section">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="content is-medium">
                            <h2 class="subtitle is-4">December 25, 2018</h2>
                            <h1 class="title">Getting Started</h1>
                            <p>This is a starter template for creating a beautiful, customizable blog with minimal
                                effort. You’ll only have to change a few settings and you’re ready to go. As with
                                all Jigsaw sites,
                                configuration settings can be found in config</p>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>
</section>

<!-- newsletter -->
<section class="section">
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <div class="container has-text-centered is-fluid">
                <div class="hero is-light">
                    <div class="hero-body">
                        <h2 class="title is-4">Sign up for our newsletter</h1>
                            <div class="column is-6 is-offset-3">
                                <div class="field has-addons has-addons-centered">
                                    <div class="control is-expanded">
                                        <input class="input " type="text" placeholder="Email address">
                                    </div>
                                    <div class="control">
                                        <a class="button is-info">
                                            Subscribe
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}